@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


$bigShouldersFont: 'Big Shoulders Display', cursive;
$lexendDecaFont: 'Lexend Deca', sans-serif;

$w400: 400;
$w700: 700;

$size: 15px;